*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-footer {

    animation: icons-footer 1s ease-out;
}

.img-footer:hover{

    transform: scale(1.1);
    cursor: pointer;
    transition: all .25s ease-in-out;
}

.bg-color {
    background-color: var(--secondary-color);
}

@keyframes icons-footer{
    0% {
        position: relative;
        bottom: -150%;
    }
    100% {
        position: relative;
        bottom: 0;
    }
}