*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 10vh;
    background: var(--secondary-color);
}

.nav-links{
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a {
    color: #ffffff;
    position: relative;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links li a::before {
    content: '';
    display: block;
    height: 4px;
    background: white;
    position: absolute;
    bottom: -.7rem;
    left: 0;
    right: 0;
    transform: scale(0,1);
    transform-origin: left;
    transition: transform 250ms ease-in-out;
}

.nav-links li a:hover::before {
    transform: scale(1,1);
}

.nav-links li:nth-child(1){
    cursor: pointer;
    user-select: none;
    position: absolute;
    color: #bbbbbb;
    text-decoration: none;
    font-size: 1.5rem;
    left: 5%;
}

.nav-links li:nth-child(1):active{
    color: #ffffff;
    animation: barrido .25s ease-out;
}

@keyframes barrido {
    to {
        transform: rotate(360deg);
    }
}


@media screen and (max-width: 768px){

    .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }

    nav {
        position: relative;
    }

    .menu{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 3;
    }
    .nav-links{
        position: fixed;
        background: var(--secondary-color);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        z-index: 2;
    }

    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li a {
        font-size: 1.5rem;
    }

    li.fade{
        opacity: 1;
    }

    .nav-links li:nth-child(1){
        pointer-events: none;
        opacity: 0;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s easy 0.2s;
        opacity: 1;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s easy 0.4s;
        opacity: 1;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s easy 0.6s;
        opacity: 1;
    }
}