*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #28B26F;
    --secondary-color: #272525;
}

.main-loader{
    
    height: 100vh;
    width: 100%;
    background-color: var(--primary-color);
}

#logo{
    position: absolute;
    height: 90%;
    width: 90%;
    top: 50%;
    left: 50%;
    pointer-events: none;
    transform: translate(-50%,-50%);
    animation: fill 0.5s forwards 6s;
}

#logo path:nth-child(1){      /* A */
    stroke-dasharray: 495px;
    stroke-dashoffset: 495px;
    animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2){      /* g */
    stroke-dasharray: 569px;
    stroke-dashoffset: 569px;
    animation: line-anim 2s ease forwards 0.2s;
}
#logo path:nth-child(3){      /* u */
    stroke-dasharray: 393px;
    stroke-dashoffset: 393px;
    animation: line-anim 2s ease forwards 0.4s;
}
#logo path:nth-child(4){      /* s */
    stroke-dasharray: 409px;
    stroke-dashoffset: 409px;
    animation: line-anim 2s ease forwards 0.6s;
}
#logo path:nth-child(5){      /* t */
    stroke-dasharray: 292px;
    stroke-dashoffset: 292px;
    animation: line-anim 2s ease forwards 0.8s;
}
#logo path:nth-child(6){      /* i */
    stroke-dasharray: 227px;
    stroke-dashoffset: 227px;
    animation: line-anim 2s ease forwards 1s;
}
#logo path:nth-child(7){      /* n */
    stroke-dasharray: 396px;
    stroke-dashoffset: 396px;
    animation: line-anim 2s ease forwards 1.2s;
}
#logo path:nth-child(8){      /* M */
    stroke-dasharray: 801px;
    stroke-dashoffset: 801px;
    animation: line-anim 2s ease forwards 1.4s;
}
#logo path:nth-child(9){      /* a */
    stroke-dasharray: 452px;
    stroke-dashoffset: 452px;
    animation: line-anim 2s ease forwards 1.6s;
}
#logo path:nth-child(10){      /* s */
    stroke-dasharray: 410px;
    stroke-dashoffset: 410px;
    animation: line-anim 2s ease forwards 1.8s;
}
#logo path:nth-child(11){      /* s */
    stroke-dasharray: 410px;
    stroke-dashoffset: 410px;
    animation: line-anim 2s ease forwards 2s;
}
#logo path:nth-child(12){      /* a */
    stroke-dasharray: 452px;
    stroke-dashoffset: 452px;
    animation: line-anim 2s ease forwards 2.2s;
}
#logo path:nth-child(13){      /* S */
    stroke-dasharray: 533px;
    stroke-dashoffset: 533px;
    animation: line-anim 2s ease forwards 2.4s;
}
#logo path:nth-child(14){      /* o */
    stroke-dasharray: 398px;
    stroke-dashoffset: 398px;
    animation: line-anim 2s ease forwards 2.6s;
}
#logo path:nth-child(15){      /* f */
    stroke-dasharray: 327px;
    stroke-dashoffset: 327px;
    animation: line-anim 2s ease forwards 2.8s;
}
#logo path:nth-child(16){      /* t */
    stroke-dasharray: 292px;
    stroke-dashoffset: 292px;
    animation: line-anim 2s ease forwards 3s;
}
#logo path:nth-child(17){      /* w */
    stroke-dasharray: 576px;
    stroke-dashoffset: 576px;
    animation: line-anim 2s ease forwards 3.2s;
}
#logo path:nth-child(18){      /* a */
    stroke-dasharray: 452px;
    stroke-dashoffset: 452px;
    animation: line-anim 2s ease forwards 3.4s;
}
#logo path:nth-child(19){      /* r */
    stroke-dasharray: 233px;
    stroke-dashoffset: 233px;
    animation: line-anim 2s ease forwards 3.6s;
}
#logo path:nth-child(20){      /* e */
    stroke-dasharray: 438px;
    stroke-dashoffset: 438px;
    animation: line-anim 2s ease forwards 3.8s;
}
#logo path:nth-child(21){      /* D */
    stroke-dasharray: 543px;
    stroke-dashoffset: 543px;
    animation: line-anim 2s ease forwards 4s;
}
#logo path:nth-child(22){      /* e */
    stroke-dasharray: 438px;
    stroke-dashoffset: 438px;
    animation: line-anim 2s ease forwards 4.2s;
}
#logo path:nth-child(23){      /* v */
    stroke-dasharray: 321px;
    stroke-dashoffset: 321px;
    animation: line-anim 2s ease forwards 4.4s;
}
#logo path:nth-child(24){      /* e */
    stroke-dasharray: 438px;
    stroke-dashoffset: 438px;
    animation: line-anim 2s ease forwards 4.6s;
}
#logo path:nth-child(25){      /* l */
    stroke-dasharray: 242px;
    stroke-dashoffset: 242px;
    animation: line-anim 2s ease forwards 4.8s;
}
#logo path:nth-child(26){      /* o */
    stroke-dasharray: 398px;
    stroke-dashoffset: 398px;
    animation: line-anim 2s ease forwards 5s;
}
#logo path:nth-child(27){      /* p */
    stroke-dasharray: 495px;
    stroke-dashoffset: 495px;
    animation: line-anim 2s ease forwards 5.2s;
}
#logo path:nth-child(28){      /* e */
    stroke-dasharray: 438px;
    stroke-dashoffset: 438px;
    animation: line-anim 2s ease forwards 5.4s;
}
#logo path:nth-child(29){      /* r */
    stroke-dasharray: 233px;
    stroke-dashoffset: 233px;
    animation: line-anim 2s ease forwards 5.6s;
}

@keyframes line-anim{
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    from {
        fill: transparent;
    }
    to {
        fill: white;
    }
}